{% set show = false %}

{% if children|length > 0 %}
    {% for c in children %}
        {% if c.products|length > 0 %}
            {% set show = true %}
            <h2 class="catalog__h2">{{ c.name }}</h2>
            <div class="row">
                {% for e in c.products %}
                    {% include 'AppBundle:Catalog:_product_in_category.html.twig' with {'e':e} %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    {% if products|length > 0 %}
        {% set show = true %}
        <div class="row">
            {% for e in products %}
                {% include 'AppBundle:Catalog:_product_in_category.html.twig' with {'e':e} %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}
{% if show == false %}
    <p>К сожалению, по Вашем запросу ничего не найдено.</p>
{% endif %}