{% if productFile %}
    <div class="box-button">
        <a href="{{ path('catalog_product_file', {alias:product.alias, file:productFile.id}) }}" download="{{ productFile.name }}" class="button button_warning button_warning--user-buy">{% trans %}download{% endtrans %}</a>
        <span class="button-info">{% trans %}models_available{% endtrans %} <span>- {{ app.user.models }}</span></span>
    </div>
{% endif %}