{% extends 'AppBundle::_inside.html.twig' %}

{% block content %}
    <div class="main-wrap__header">
        <h1>{% trans %}buying_models{% endtrans %}</h1>
    </div>
    <div class="wrap">
        <div class="wrap-right">

        </div>
        <div class="wrap-left">
            <p>{% trans %}buy_form_no_pay{% endtrans %}</p>
        </div>
    </div>
{% endblock %}
