{% extends 'AppBundle:Cabinet:_cabinet_base.html.twig' %}

{% block cabinetTitle %}{% trans %}notifications_header{% endtrans %}{% endblock %}

{% block cabinetContent %}
    {% if entities|length > 0 %}
        {% for e in entities %}
            <article class="article">
                {#<div class="box-top">
                    <div class="box-top__cont" style="margin-left: 0;">
                        <h3 class="article__title">{{ e.name }}</h3>
                        <div>
                            <span class="date">{{ e.date|date('d.m.Y') }}</span>
                            <span class="product-panel__item">

                            </span>
                        </div>
                    </div>
                </div>#}
                <div class="article__body">
                    <div>
                        <span class="date">{{ e.date|date('H:i d.m.Y') }}</span>
                    </div>
                    {{ e.text|raw}}
                </div>
            </article>
        {% endfor %}
    {% else %}
        <div class="article__no-items">
            {% trans %}notifications_not_found{% endtrans %}
        </div>
    {% endif %}
{% endblock %}
