{% extends 'AppBundle:Cabinet:_cabinet_base.html.twig' %}

{% block cabinetTitle %}Новое обращение{% endblock %}

{% block cabinetContent %}
    <div class="box-form settings">
        <form class="js-settings-form" action="{{ path('cabinet_tickets_add_write') }}" method="POST">
            {% if product %}
                <div class="box-field-group">
                    <div class="box-field col-5">
                        Обращение создается по модели <a href="{{ path('catalog_product', {alias:product.alias}) }}">{{ product.name }}</a>.
                        <input type="hidden" class="form-control" name="product" value="{{ product.id }}" />
                    </div>
                </div>
            {% endif %}    
            <div class="box-field-group">
                <div class="box-field col-5">
                    <label class="box-field__label">Тема обращения <span class="require-field-z">*</span></label>
                    <div class="box-field__input">
                        <input type="text" class="form-control js-require" name="name" value="" />
                    </div>
                </div>
            </div>
            <div class="box-field-group">
                <div class="box-field col-5">
                    <label class="box-field__label">Опишите проблему</label>
                    <div class="box-field__input">
                        <textarea name="text" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="button button_warning" onclick="addTicket();return false;">Создать обращение</button>
            <span class="help-text inline settings__result js-settings-result"></span>
        </form>
    </div>
{% endblock %}