{% extends 'AppBundle::_inside.html.twig' %}

{% block content %}
    <div class="main-wrap__header">
        <h1>{% trans %}buying_models_header{% endtrans %}</h1>
    </div>
    <div class="wrap">
        <div class="wrap-right">

        </div>
        <div class="wrap-left">
            <p>{% trans %}payment_go_to_treatment{% endtrans %}</p>
            <p>
                <a href="{{ path('user_view',{nickname:app.user.nickname}) }}" class="button button_warning">{% trans %}go_to_profile{% endtrans %}</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(".js-ya-form").submit();
    </script>
{% endblock %}