{% extends '@FOSUser/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="main-wrap">
        <div class="main-wrap__header">
            <h1>Восстановение пароля</h1>
        </div>
        <div class="wrap">
            <div class="box-form login-registration__registration-wrapper" style="padding: 0px 22px 22px 22px;">
                <p>{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}</p>
            </div>
        </div>
    </div>

{% endblock %}
