<div class="main-wrap">
    <div class="main-wrap__header">
        <h1>Восстановение пароля</h1>
    </div>
    <div class="wrap">
        <div class="box-form login-registration__registration-wrapper" style="padding: 0px 22px 22px 22px;">
            <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" style="display: block;width: 282px;">
                {{ form_widget(form) }}
                <div>
                    <button type="submit" class="button button_warning button_block box-form__button">
                        Изменить пароль
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>