{% spaceless %}
    {% if banner.link %}
        <a href="{{ banner.link }}"><img src="{% path e.image, 'full' %}" alt="" /></a>
    {% else %}
        <img src="{% path banner.image, 'full' %}" alt="" />
    {% endif %}
{% endspaceless %}