.withdrawals__header{
    float:left;
    height: 34px;
    margin-bottom: 10px;
}
.withdrawals__add{
    float:right;
}

.withdrawals__form{
    /*padding:25px;*/
    /*max-width: 500px;*/
}

.window-open#withdrawalsAdd {
    width: 400px;
}

.window-open#withdrawalsAdd .box-form {
    padding: 30px 54px 30px 54px;
}

.withdrawal__success{
    display: none;
    margin-bottom: 10px;
    color:#3B963D;
    font-size: 14px;
}

.article__no-items{
    padding: 29px 22px;
    line-height: 100%;
    background: #fff;
}