.withdrawals__add{
    position: relative;
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px 20px 20px;
    border-bottom:1px solid #e5e5e5;
}

.withdrawals__sum-info{
    font-size: 18px;
    margin-bottom: 20px;
}

.withdrawals__label{
    font-size: 18px;
    margin-bottom: 20px;
}

.withdrawals__form{
    position: relative;
}

.withdrawals__price-input{
    display: inline-block !important;
    width:175px !important;
    margin-right: 12px;
    height: 34px !important;
}

.withdrawals__submit{
    display: inline-block !important;
    width:180px !important;
}

.withdrawals__success{
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right:0;
    background: #fff;
    display: none;
    color:#3B963D;
    font-size: 14px;
}

.withdrawals__error{
    top: 10px !important;
    right: auto !important;
    left: 390px !important;
}

.withdrawals__history{
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.stats__top-info{
    padding-bottom: 20px;
}

.stats__bottom-info{
    position: relative;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px 20px 0px 20px;
    border-top:1px solid #e5e5e5;
}

.article__no-items{
    padding: 29px 22px;
    line-height: 100%;
    background: #fff;
}