.slider__wrapper {
    position: relative;
    height: 470px;
}

.slider__container {
    position: relative;
    z-index: 10;
}

.slider__bg {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;
}

.slider__bg-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.slide {
    display: block;
    padding: 152px 0 0px;
    text-align: center;
    width: 1190px;
    height: 470px;
}

.slide__text {
    font-size: 115px;
    line-height: 100px;
    padding: 7px 0 7px 0;
    font-weight: 400;
    color: #fff;
}