.subscribe__info{
    position: relative;
}

.subscribe__message{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    line-height: 50px;
    background-color: #e5e5e5;
    display: none;
}
.subscribe__error{
    color: #c91d24;
}
.subscribe__success{
    color:#3B963D;
}