.tickets {
}

.tickets__header{
    float:left;
    height: 34px;
    margin-bottom: 10px;
}
.tickets__add{
    float:right;
}

.tickets__add-wrapper {
    padding: 10px 0;
}

.tickets__link {
    color:#c1a788;
}

.tickets__info{
    margin-top: 15px;
    margin-bottom: 30px;
}