{% extends 'cabinet/_cabinet_base.html.twig' %}

{% block cabinetTitle %}{% trans %}change_password_header{% endtrans %}{% endblock %}

{% block cabinetContent %}
    <div class="box-form settings">
        <form class="js-settings-form" action="{{ path('cabinet_password_write') }}" method="POST">
            <div class="box-field col-3">
                <label class="box-field__label">{% trans %}new_password{% endtrans %} <span class="require-field-z">*</span></label>
                <div class="box-field__input">
                    <input type="password" class="form-control js-require" name="password" value="" />
                </div>
            </div>
            <div class="box-field col-3">
                <label class="box-field__label">{% trans %}repeat_password{% endtrans %} <span class="require-field-z">*</span></label>
                <div class="box-field__input">
                    <input type="password" class="form-control js-require" name="password_reply" value="" />
                </div>
            </div>
            <button type="submit" class="button button_warning" onclick="saveSettings();return false;">{% trans %}change{% endtrans %}</button>
            <span class="help-text inline settings__result js-settings-result"></span>
        </form>
    </div>
{% endblock %}