<div class="cookie-agree">
    <div class="cookie-agree__text">
        Сайт Sellyourmodel.com использует "cookie" только для целей функционирования сайта. Находясь на сайте, Вы даете согласие на Условия использования "cookies" на Вашем компьютере.
    </div>
    <div class="cookie-agree__button">
        <button class="button button_block button_warning" onclick="cookieAgree();">Я принимаю</button>
    </div>
</div>