{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h1>Восстановение пароля</h1>
<p>
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
{% endblock %}
