{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <h1>Восстановение пароля</h1>
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock fos_user_content %}
