<h1>Восстановение пароля</h1>

<div class="login">
    {% if invalid_username is defined %}
        <div class="login__error">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</div>
    {% endif %}
    <form class="login-form" action="{{ path('fos_user_resetting_send_email') }}" method="post">
        <div class="row">
            <div class="col-md-4">
                <input name="username" placeholder="E-mail" class="form-control input" value="" required="required" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" value="Восстановить пароль" class="submit">
            </div>
        </div>
    </form>
</div>