<h1>С вашей модели снята блокировка</h1>
<p>С вашей модели <a href="{{ url('catalog_product', {alias:product.alias}) }}">{{ product.name }}</a> снята блокировка модератором. Отображение модели в каталоге моделей возобновлено.</p>
<p>
    ---------
    <br />
    С уважением, команда Sellyourmodel.com
</p>