<h1>Ваша модель заблокирована модератором</h1>
<p>Ваша модель <a href="{{ url('catalog_product', {alias:product.alias}) }}">{{ product.name }}</a> заблокирована модератором, причина блокировки: {% if product.blockReason %}{{ product.blockReason }}{% else %}без причины{% endif %} . Отображение модели в каталоге моделей отключено.</p>
<p>
    ---------
    <br />
    С уважением, команда Sellyourmodel.com
</p>