<h1>Регистрация на сайте Sellyourmodel.com</h1>
<p>Вы успешно зарегистрировались на сайте <a href="{{ url('homepage') }}">Sellyourmodel.com</a>.</p>
<p>
    Ваши реквизиты для входа на сайт:
    <br />
    E-mail: {{ user.email }}
    <br />
    Пароль: {{ password }}
</p>
<p>
    ---------
    <br />
    С уважением, команда Sellyourmodel.com
</p>