{% extends 'AppBundle::_inside.html.twig' %}

{% block content_class %}models models-pad{% endblock %}

{% block content %}

    <div class="main-wrap__header">
        <h1>{% trans %}user_withdrawals_requests{% endtrans %}</h1>
    </div>
    <div class="wrap wrap_small support">
        <div class="wrap-right wrap-right--profile">
            <ul class="wrap-list">

            </ul>
        </div>
        <div class="wrap-left wrap-left--profile">

            <div class="withdrawals__add">
                <div class="withdrawals__sum-info">
                    {% trans %}modal_withdrawals_available{% endtrans %}: {{ app.user.balance }} руб.
                </div>
                <div class="withdrawals__label">
                    {% trans %}modal_withdrawals_create{% endtrans %}
                </div>
                <form action="{{ path('cabinet_withdrawal_write') }}" method="post" class="withdrawals__form js-withdrawal-add-form">
                    <div class="box-field-group">
                        <div class="box-field withdrawals__field">
                            <label class="box-field__label">{% trans %}modal_withdrawals_sum{% endtrans %}</label>
                            <div class="box-field__input">
                                <input type="number" name="price" class="form-control withdrawals__input">
                            </div>
                        </div>
                        <div class="box-field withdrawals__field">
                            <label class="box-field__label">{% trans %}modal_withdrawals_method{% endtrans %}</label>
                            <div class="box-field__input">
                                <select name="method" data-placeholder=" " class="styler withdrawals__input form-control">
                                    <option value=""></option>
                                    {% for e in methods %}
                                        <option value="{{ e.id }}">{{ e.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="box-field withdrawals__field">
                            <label class="box-field__label">{% trans %}modal_withdrawals_account{% endtrans %}</label>
                            <div class="box-field__input">
                                <input type="number" name="account" class="form-control withdrawals__input">
                            </div>
                        </div>
                    </div>
                    <div class="box-field  withdrawals__field checkbox nowrap">
                        <div class="box-field__input">
                            <input type="checkbox" id="check_2" name="confirm" value="1" checked class="styler">
                            <label for="check_2" class="nowrap box-field__label">{% trans %}modal_withdrawals_confirm{% endtrans %}</label>
                        </div>
                    </div>
                    <div class="withdrawals__submit-wrapper">
                        <div class="withdrawals__success">{% trans %}user_create_withdrawals_request_created{% endtrans %}</div>
                        <div class="login-error__text withdrawals__error js-withdrawal-add-error"></div>
                        <input type="submit" value="{% trans %}modal_withdrawals_send{% endtrans %}" class="button button_warning button_block box-form__button withdrawals__submit" onclick="ajaxWithdrawalAdd();return false;" />
                    </div>
                </form>
            </div>
            <div>
                <div class="withdrawals__history">
                    История заявок
                </div>
                <table class="table js-withdrawals">
                    {% include '@App/User/_withdrawals.html.twig' %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
