<h1>Блокировка аккаунта на сайте Sellyourmodel.com</h1>
<p>Вы не подтвердили Ваш e-mail <strong>{{ user.email }}</strong>, поэтому Ваш аккаунт на сайте <a href="{{ url('homepage') }}">Sellyourmodel.com</a> был заблокирован.</p>
<p>
    ---------
    <br />
    С уважением, команда Sellyourmodel.com
</p>